# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
.venv/
env/

# Node / Frontend
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & OS
*.sqlite3
*.db
.DS_Store
Thumbs.db
.vscode/
.idea/